body {
  font-family: 'Alike Angular', serif;
  font-size: 15px;
  margin: 0px auto;
  width: 100%;
}

//responsive design
@media only screen and (max-width: 750px){
  #hide {
    visibility: hidden;
  }
}
