img {
  position: relative;
  height: 200px;
  width: 200px;
  padding: 5px;
  border-radius: 20%;
  border: 5px solid red;
  margin: 25px;
}

.images:hover {
  outline: 5px solid yellow;
  outline-offset: 10px;
  webkit-transform: scale(1.3);
  ms-transform: scale(1.3);
  transform: scale(1.3);
}

.images {
  cursor: pointer;
}

.leftSide {
  position: relative;
  height: 200px;
  width: 200px;
  padding: 5px;
  border-radius: 20%;
  border-radius: 20%;
  border: 5px solid black;
  margin: 25px;
}
